@import url('https://fonts.googleapis.com/css?family=Gabarito');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Gabarito',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252627;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
